<div class="p-2 mt-4 m-auto rounded-md text-black bg-slate-100 w-3/4">
    <img class="m-auto pb-2" src="../../../assets/img/logo.png" />
    <p class="font-bold text-xl mb-2 text-center">Welcome to Apollo</p>
    <p class="p-10 text-justify text-base">The premier accommodation reservation app for all your travel needs. With our
        extensive selection of hotels and other accommodations, you can find and book the perfect room or apartment for
        your next trip. Our user-friendly interface allows you to easily search and compare options, ensuring that you
        find the accommodation that best suits your budget and preferences. With secure and hassle-free booking process,
        you can rest assured that your reservation is safe and confirmed. Whether you're planning a romantic getaway, a
        family vacation, or a business trip, Apollo has everything you need to make your stay comfortable and enjoyable.
        So why wait? Start exploring and book your next stay now with Apollo!</p>
</div>
<div class="p-2 mt-4 mb-5 m-auto rounded-md text-black bg-slate-100 w-3/4">
    <p class="font-bold text-xl mb-2 text-center">Why are we different from an average accommodation booking site?</p>
    <ul class="p-10 text-justify text-base">
        <li class="pb-2">- We understand the importance of convenience and ease when it comes to booking a hotel room, which is why we
            offer an automatic system that eliminates the need for a reception.
        </li>
        <li class="pb-2">- With our system, customers can receive their room key through a QR code sent via email or through their own
            personal code. This means you can check in and access your room without the need for any assistance from
            hotel staff.
        </li>
        <li class="pb-4">- We also take the safety and security of our customers' information very seriously, which is why we collect
            bank card data upon booking. This ensures that if a customer fails to return their room key on time, we can
            charge their card accordingly.
        </li>
        <li class="text-center">Book your stay with us today and experience the convenience and ease of our automatic room key system.</li>
    </ul>
</div>
<p class="font-bold text-xl mb-2 text-center">Our Team</p>
<div class="m-auto p-2 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5 w-3/5">

    <div class="rounded overflow-hidden shadow-lg">
        <img class="w-full" src="../../../assets/img/ceo.jpg" alt="CEO">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Attila Szerencsés</div>
            <div class="px-6 pt-4 pb-2 text-center">
                <span
                    class="inline-block bg-gray-200 rounded-full px-4 py-2 text-sm font-semibold text-gray-700 mr-2 mb-2">CEO</span>
            </div>
            <p class="text-gray-700 text-base">
                Attila Szerencsés, a leader and entrepreneur, is the force behind an successful accommodation
                reservation site. His strategic thinking, business acumen and drive for customer satisfaction has led
                the company to great heights.
            </p>
        </div>
    </div>

    <div class="rounded overflow-hidden shadow-lg">
        <img class="w-70 " src="../../../assets/img/financialmanager.jpg" alt="Financial Manager">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Nikoletta Juhász</div>
            <div class="px-6 pt-4 pb-2 text-center">
                <span
                    class="inline-block bg-gray-200 rounded-full px-4 py-2 text-sm font-semibold text-gray-700 mr-2 mb-2">Financial
                    Manager</span>
            </div>
            <p class="text-gray-700 text-base">
                Nikoletta Juhász is a knowledgeable and accomplished financial manager, with expertise in financial
                planning, budgeting, and investment management. She has a proven track record of success in maximizing
                returns and minimizing risks.
            </p>
        </div>
    </div>

    <div class="rounded overflow-hidden shadow-lg">
        <img class="w-full" src="../../../assets/img/technicalmanager.jpg" alt="Technical Manager">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Péter Kiss</div>
            <div class="px-6 pt-4 pb-2 text-center">
                <span
                    class="inline-block bg-gray-200 rounded-full px-4 py-2 text-sm font-semibold text-gray-700 mr-2 mb-2">Technical
                    Manager</span>
            </div>
            <p class="text-gray-700 text-base">
                Péter Kiss is an expert technical manager with years of experience in leading technical teams and
                implementing cutting-edge technologies. He is known for his ability to improve efficiency and drive
                innovation.
            </p>
        </div>
    </div>
</div>