<div *ngIf="user">
  <div class="flex justify-center my-3">
    <h1 class="font-bold">Welcome <u>{{user.username}}</u> on your profile page!</h1>
  </div>
  <div class="flex justify-center my-5">
    <div class="w-full max-w-md">
      <h2 class="my-2">You can update your own data here:</h2>
      <div class="flex">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-5/6 mr-4" [formGroup]="userDetailsForm">
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
              Username
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="username" type="text" placeholder="Username" formControlName="username" [(ngModel)]="user.username">
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
              Password
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="password" type="password" placeholder="********" formControlName="password"
              [(ngModel)]="user.password">
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
              Email
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="email" type="email" placeholder="Email" formControlName="email" [(ngModel)]="user.email">
          </div>
          <div class="flex items-center justify-between">
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              (click)="updateUserDetails()">
              Save
            </button>
          </div>
        </form>
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-5/6">
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="postcode">
              Postcode
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="postcode" type="text" placeholder="Postcode">
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="city">
              City
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="city" type="text" placeholder="City">
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="street">
              Street
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="street" type="text" placeholder="Street">
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="housenumber">
              House number
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="housenumber" type="text" placeholder="House number">
          </div>
          <div class="flex items-center justify-between">
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>