<div *ngIf="user">
  <div class="p-16">
    <h1 class="flex justify-center my-3 font-bold">Welcome {{user.username}} on your profile page!</h1>
    <div class="p-8 bg-white shadow mt-24">
      <div
        class="w-36 h-36 bg-indigo-100 mx-auto rounded-full shadow-xl inset-x-0 top-0 -mt-24 flex items-center justify-center text-indigo-500">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="mt-8 text-center border-b pb-4">
        <h1 class="text-4xl font-medium text-gray-700">Personal Data</h1>
        <p class="font-light text-gray-600 mt-3">Username: {{user.username}}</p>
        <p class="font-light text-gray-600 mt-3">Name: {{user.firstName}} {{user.lastName}}</p>
        <p class="font-light text-gray-600 mt-3">Email: {{user.email}}</p>
        <p class="font-light text-gray-600 mt-3">Phone: {{user.phone}}</p>
      </div>
      <div class="mt-8 text-center pb-4">
        <h1 class="text-4xl font-medium text-gray-700">Address</h1>
        <p class="font-light text-gray-600 mt-3">Postcode: {{user.address?.postCode}}</p>
        <p class="font-light text-gray-600 mt-3">City: {{user.address?.city}}</p>
        <p class="font-light text-gray-600 mt-3">Street: {{user.address?.street}}</p>
        <p class="font-light text-gray-600 mt-3">House Number: {{user.address?.houseNumber}}</p>
      </div>
      <div class="text-center pb-2 border-b">
        <h2 class="flex justify-center mt-5 mb-3">You can update your own data here:</h2>
        <button
          class="bg-blue-500 text-white active:bg-blue-700 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button" (click)="toggleModal('personal')">
          Update personal data
        </button>
        <button
          class="bg-blue-500 text-white active:bg-blue-700 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button" (click)="toggleModal('address')">
          Update Address
        </button>
        <a *ngIf="isAdmin()" href="/admin"
          class="bg-blue-500 text-white active:bg-blue-700 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button">
          Admin page
        </a>
      </div>
      <div *ngIf="!isAccommodationProvider()" class="text-center pb-2">
        <h2 class="flex justify-center mt-5 mb-3">Do you want to be an accommodation provider?</h2>
        <h3 class="flex justify-center mt-5 mb-3">Create your first accommodation here!</h3>
        <button
          class="bg-blue-500 text-white active:bg-blue-700 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button" (click)="redirectToCreateAccommodation()">
          Create accommodation
        </button>
      </div>
      <div *ngIf="isAccommodationProvider()" class="text-center pb-2">
        <h2 class="flex justify-center mt-5 mb-3">You are an {{this.user.role}}, welcome!</h2>
        <h3 class="flex justify-center mt-5 mb-3">Manage your accommodations here!</h3>
        <button
          class="bg-blue-500 text-white active:bg-blue-700 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button" (click)="redirectToMyAccommodations()">
          Manage accommdations
        </button>
      </div>
      <div *ngIf="showModal"
        class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
        <div class="relative w-auto my-6 mx-auto max-w-6xl">
          <!--content-->
          <div
            class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <!--header-->
            <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
              <h3 class="text-3xl font-semibold" *ngIf="this.modalIdentifier == 'personal'">
                Update your personal data here! <br> If you modifie your username you have to login again! You'll be
                automaticly log out.
              </h3>
              <h3 class="text-3xl font-semibold" *ngIf="this.modalIdentifier == 'address'">
                Update your address here!
              </h3>
              <button
                class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
                (click)="toggleModal(this.modalIdentifier)">
                <span class=" text-black h-6 w-6 text-2xl block outline-none focus:outline-none">
                  ×
                </span>
              </button>
            </div>
            <!--body-->
            <!--PERSONAL DATA-->
            <form class="bg-white px-8 pt-6 pb-8 mb-4 m-auto" [formGroup]="userDetailsForm"
              *ngIf="this.modalIdentifier == 'personal' ">
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                  Username
                </label>
                <input
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="username" type="text" placeholder="Username" formControlName="username"  maxlength="50">
              </div>
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="firstName">
                  First Name
                </label>
                <input
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="firstName" type="firstName" placeholder="First Name" formControlName="firstName" maxlength="50">
              </div>
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="lastName">
                  Last Name
                </label>
                <input
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="lastName" type="text" placeholder="Last Name" formControlName="lastName" maxlength="50">
              </div>
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                  Email
                </label>
                <input
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="email" type="email" placeholder="Email" formControlName="email" maxlength="80">
              </div>
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="phone">
                  Phone
                </label>
                <input
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="phone" type="phone" placeholder="+36201234567" formControlName="phone" maxlength="20">
              </div>
            </form>
            <!--ADDRESS DATA-->
            <form class="bg-white px-8 pt-6 pb-8 m-auto" *ngIf="this.modalIdentifier == 'address' "
              [formGroup]="addressForm">
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="postcode">
                  Postcode
                </label>
                <input
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="postcode" type="text" placeholder="Postcode" formControlName="postCode" maxlength="10">
              </div>
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="city">
                  City
                </label>
                <input
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="city" type="text" placeholder="City" formControlName="city" maxlength="20">
              </div>
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="street">
                  Street
                </label>
                <input
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="street" type="text" placeholder="Street" formControlName="street" maxlength="50">
              </div>
              <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="housenumber">
                  House number
                </label>
                <input
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  id="housenumber" type="text" placeholder="House number" formControlName="houseNumber" maxlength="20">
              </div>
            </form>
            <!--footer-->
            <div class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b">
              <button
                class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                type="button" (click)="toggleModal(this.modalIdentifier)">
                Close
              </button>
              <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                type="button" (click)="updateDetails()">
                Save Changes
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
    </div>
  </div>
</div>