<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
    [ngClass]="{hidden: (isHandset$ | async) === false}"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/profile" *ngIf="this.isAuthenticated()"><mat-icon>account_circle</mat-icon></a>
      <a mat-list-item routerLink="/main">Main Page</a>
      <a mat-list-item routerLink="/login" *ngIf="!this.isAuthenticated()">Login</a>
      <a mat-list-item routerLink="/registration" *ngIf="!this.isAuthenticated()">Registration</a>
      <a mat-list-item routerLink="/main" onclick="logout()" *ngIf="this.isAuthenticated()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Accommodation Reservation</span>
      <span class="spacer"></span>
      <mat-nav-list [ngClass]="{hidden: !(isHandset$ | async) === false}">
        <a routerLink="/main">Main Page</a>
        <a routerLink="/login" *ngIf="!this.isAuthenticated()">Login</a>
        <a routerLink="/registration" *ngIf="!this.isAuthenticated()">Registration</a>
        <a routerLink="/main" (click)="this.logout()" *ngIf="this.isAuthenticated()">Logout</a>
        <a routerLink="/profile" *ngIf="this.isAuthenticated()"><mat-icon>account_circle</mat-icon></a>
      </mat-nav-list>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>